.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

* {
  /*
  [box-sizing: border-box;]
  width / height 값이 'content + padding*2 + border*2' 값이 되도록 content 값을 계산해 반영하는 설정
  ==> 개발자가 생각하는 대로 요소의 크기를 설정할 수 있게 함
  */
  box-sizing: border-box;
}

.box {
  width: 100px;
  height: 100px;
  background-color: lightsalmon;
}

/* border(테두리) 영역 */
.border {
  /* 상하좌우 10px 두께의 실선, 검정색 테두리 영역을 설정 */
  border: 10px solid black;
}

/* content(내용) 영역 */
.content-1 {
  width: 150px;
  height: 150px;

  /* width / height 설정 값이 content 영역에만 적용되게 설정 */
  box-sizing: content-box;
}

.content-2 {
  width: 150px;
  height: 150px;

  /* width / height 설정 값이 border 영역에 적용되게 설정 */
  box-sizing: border-box;
}

/* padding(채우기) 영역 */
.padding {
  width: 150px;
  height: 150px;

  /* 상하좌우 content ~ border 사이에 20px 만큼 채움(띄움) */
  padding: 20px;
}

/* margin(여백, 다른 요소와의 간격) 영역 */
.margin-1 {
  /* 상하좌우 다른 요소와 50px 만큼 간격을 줌 */
  margin: 50px;
}

.margin-2 {
  /* 상하좌우 다른 요소와 100px 만큼 간격을 줌 */
  margin: 100px;
}

/* 방향성 확인하기 */
.test1 {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;

  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 80px;
  margin-right: 120px;

  /* 
    solid : 실선
    dotted : . 점선
    dashed : - 점선
    double : 이중 실선
  */
  border-top: 5px solid red;
  border-bottom: 3px dotted black;
  border-left: 10px dashed blue;
  border-right: 3px double purple;

}

/* 크기 한 번에 지정하기 */
.test2 {
  padding: 10px 20px 30px 40px;

  border-width: 5px 10px 15px 20px;

  margin: 50px 75px 100px 125px;
}

/* margin : auto 테스트 */
.container {
  width: 300px;
  height: 300px;
  border: 3px solid;
}

.test3 {
  margin: auto;
  margin-top: 98px;
}

.test3 > span {
  text-align: center;
  background-color: yellow;
  /* 텍스트 크기만큼 감싼 박스 내에서 글자를 가운데 정렬하면 변동이 없다 */
}

.test3 {
  text-align: center;
}