.flex-container {
  /* viewport : 현재 화면에 보여지고 있는 영역 (현재 기기, 브라우저) */
  /* vw (Viewport Width)  : 현재 화면의 너비 비례 단위 (100vw == 화면 너비 100%) */
  /* vh (Viewport Height) : 현재 화면의 높이 비례 단위 (100vh == 화면 높이 100%) */
  height: 75vh; /* 화면 높이 75% ,  반응형에 주로 많이씀? */

  margin: 30px 20px;
  background-color: ivory;

  /* 내부 요소를 유연하게 배치하기 위해 감싸는 요소를 flex container로 지정 */
  display: flex;

  /* flex-wrap : item이 한 줄 / 여러 줄로 배치되게 지정 */
  /* flex-wrap: nowrap; */        /* 기본값 */
  /* flex-wrap: wrap; */          /* 지정화면 넘어갈 시 줄바꿈(바로 아래가 아닌 여백의 반에 맞춰서) */
  /* flex-wrap: wrap-reverse; */  /* 정렬 역순, 맨위가 아닌 맨아래부터 */

  /* flex-flow : flex-direction + flex-wrap; (두 속성을 한번에 작성하는 속성) */
  /* flex-flow: row wrap; */
  /* flex-flow: column wrap-reverse; */
  /* flex-flow: column-reverse wrap; */
  /* flex-flow: column-reverse wrap-reverse; */

  /*
    align-content : cross axis(교차축)을 기준으로 포장된(wrap) item들을 정렬 (교차축 방향 item 묶음(wrap) 정렬)
    사용 가능한 속성 값은 justify-content(중심축 item 방향 정렬)와 동일하다
  */
  justify-content: center;

  align-content: flex-start;
  /* align-content: flex-end; */
  /* align-content: center; */
  /* align-content: space-around; */
  /* align-content: space-evenly; */
  /* align-content: space-between; */
}