.flex-container {
  height: 400px;
  margin: 30px;
  background-color: wheat;

  display: flex;
  flex-flow: row nowrap;
}

/* 클래스 기반 CSS */

/* order : item 순서를 지정하는 속성 */
.order1 { order : 1; }
.order2 { order : 2; }
.order3 { order : 3; }
.order4 { order : 4; }
.order5 { order : 5; }

/* flex-grow : item 팽창 */
.grow0 { flex-grow: 0; }
.grow1 { flex-grow: 1; }
.grow2 { flex-grow: 2; }
.grow3 { flex-grow: 3; }
.grow4 { flex-grow: 4; }

/* flex-shrink : item 수축 */
.shrink-container > .item {
  width: 200px;
  height: 200px;
}
.shrink0 { flex-shrink: 0; }
.shrink1 { flex-shrink: 1; }
.shrink2 { flex-shrink: 2; }
.shrink3 { flex-shrink: 3; }
.shrink4 { flex-shrink: 4; }

/*
  flex-basis : 중심축 방향 item 기본 점유율(크기) 지정
    중심축 row    ==> flex-basis == width
    중심축 column ==> flex-basis == height
*/
.basis-container {
  height: 1200px;
  flex-direction: row;
  /* flex-direction: column; */
}

.fb-150px { flex-basis: 150px; }
.fb-10    { flex-basis: 10%; }
.fb-25    { flex-basis: 25%; }
.fb-50    { flex-basis: 50%; }

/* flex 속성 : flex-grow + flex-shrink + flex-basis */
.flex-gsb > .item {
  /*
    flex-grow : 0;    팽창 X
    flex-shrink: 1;   수축 O
    flex-basis: 200px;
  */
  
  flex : 0 1 200px;
}

/* align-self : 각 item별로 교차축 방향 정렬 */
.self-start  { align-self : flex-start; }
.self-end    { align-self : flex-end; }
.self-center { align-self : center; }