* {
  /* content + padding + border = width / height */
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

div { border:1px solid black; }
/* div ==> block 형식 ==> 한 줄을 가득 채움 ==> width를 지정하지 않아도 기본값이 width: 100%; 임 */

/* 상하 2분할 */
.container-1 {
  width: 500px;
  height: 300px;
  margin: 20px;
}
.container-1 > div {
  width: 100%;  /* 부모 너비와 동일 */
  height: 50%;  /* 부모 높이의 절반 */
}
.container-1 > div:first-child {
  background-color: lightskyblue;
}
.container-1 > div:last-child {
  background-color: lightgreen;
}

/* 세로방향 3분할 */
.container-2 {
  width: 300px;
  height: 432px;
  margin: 20px;
  background-color: papayawhip;
}
.container-2 > div {
  width: 90%;
}
.container-2 > div:first-child {
  height: 50%;
  background-color: ivory;
}
.container-2 > div:nth-child(2) {
  height: 30%;
  background-color: wheat;
}
.container-2 > div:last-child {
  height: 20%;
  background-color: burlywood;
}

/* 가로 5:5 분할 */
.container-3 {
  width: 300px;
  height: 100px;
  margin: 20px;
  display: flex;
  background-color: whitesmoke;
}
.container-3 > div {
  width: 50%;
  height: 90%;
}

/* 가로 5분할 */
.container-4 {
  width: 600px;
  height: 100px;
  margin: 20px;
  display: flex;
  background-color: lightgray;

  /* flex container 중심축 기본값 : row */
  flex-direction: row;

  /* flex container 교차축 정렬 기본값 : stretch ==> 세로 방향으로 item이 당겨짐 == height: 100% */
  align-items: stretch;
}
.container-4 > div { /* align-items로 인하여 사용하지 않아도 됨 */
  height: 90%;
}
.container-4 > div:nth-child(2n+1) {
  width: 10%;
}
.container-4 > div:nth-child(2n) {
  width: 35%;
}

/* ⊞ 만들기 */
/* 방법 1 */
.container-5 {
  width: 300px;
  height: 300px;
  margin: 20px;
}
/* 부모 높이 50% 짜리 행 */
.row-50 {
  height: 50%;
  width: 100%;
  display: flex;
}
/* 부모 너비 50% 짜리 열 */
.col-50 {
  height: 100%;
  width: 50%;
}

/* 방법 2. flex-wrap 이용 분할*/
.flex { display: flex; }
.wrap { flex-wrap: wrap; }
.window {
  width: 50%;
  height: 50%;
  /* 이거 확대 축소 할때마다 모양깨짐 */
  /* width: 149px; */
  /* height: 149px; */
}
