.bg-1 { background-color: #3AA6B9; }
.bg-2 { background-color: #FFD0D0; }
.bg-3 { background-color: #FF9EAA; }
.bg-4 { background-color: #F9F9E0; }
.bg-5 { background-color: #050C9C; }
.bg-6 { background-color: #3572EF; }
.bg-7 { background-color: #3ABEF9; }
.bg-8 { background-color: #A7E6FF; }
.bg-9 { background-color: #EE4E4E; }
.bg-10{ background-color: #FFC700; }
.bg-11{ background-color: #FFF455; }
.bg-12{ background-color: #219C90; }
.bg-13{ background-color: #FFF078; }
.bg-14{ background-color: #E90074; }
.bg-15{ background-color: #FF4191; }
.bg-16{ background-color: #DEFCF9; }
.bg-17{ background-color: #CCA8E9; }
.bg-18{ background-color: #C3BEF0; }
.bg-19{ background-color: #14FFEC; }
.bg-20{ background-color: #323232; }