.a_color1 { background-color: #FFFFF0; } /* white */
.a_color2 { background-color: #FFFFF0; } /* ivory */
.a_color3 { background-color: #FFFFE0; } /* light_yellow */
.a_color4 { background-color: #FFFF00; } /* yellow */
.a_color5 { background-color: #FFFAF0; } /* snow */
.a_color6 { background-color: #FFFAF0; } /* floral_white */
.a_color7 { background-color: #FFFAC0; } /* lemon_chiffon */
.a_color8 { background-color: #FFF8D0; } /* cornsilk */
.a_color9 { background-color: #FFF5E0; } /* seashell */
.a_color10 { background-color: #FFF0F0; } /* lavender_blush */
.a_color11 { background-color: #FFEFD0; } /* papaya_whip */
.a_color12 { background-color: #FFEBC0; } /* blanched_almond */
.a_color13 { background-color: #FFE4E0; } /* misty_rose */
.a_color14 { background-color: #FFE4C0; } /* bisque */
.a_color15 { background-color: #FFE4B0; } /* moccasin */
.a_color16 { background-color: #FFDEA0; } /* navajo_white */
.a_color17 { background-color: #FFDAB0; } /* peach_puff */
.a_color18 { background-color: #FFD700; } /* cold */
.a_color19 { background-color: #FFC0C0; } /* pink */
.a_color20 { background-color: #FFB6C0; } /* light_pink */
.a_color21 { background-color: #FFA500; } /* orange */
.a_color22 { background-color: #FFA070; } /* light_salmon */
.a_color23 { background-color: #FF8C00; } /* dark_orange */
.a_color24 { background-color: #FF7F50; } /* coral */
.a_color25 { background-color: #FF69B0; } /* hot_pink */
.a_color26 { background-color: #FF6340; } /* tomato */
.a_color27 { background-color: #FF4500; } /* orange_red */
.a_color28 { background-color: #FF1490; } /* deep_pink */
.a_color29 { background-color: #FF00F0; } /* fuchsia */
.a_color30 { background-color: #FF00F0; } /* magenta */
.a_color31 { background-color: #FF0000; } /* red */
.a_color32 { background-color: #FDF5E0; } /* old_lace */
.a_color33 { background-color: #FAFAD0; } /* light_goldenrod_yellow */
.a_color34 { background-color: #FAF0E0; } /* linen */
.a_color35 { background-color: #FAEBD0; } /* antique_white */
.a_color36 { background-color: #FA8070; } /* salmon */
.a_color37 { background-color: #F8F8F0; } /* ghost_white */
.a_color38 { background-color: #F5FFF0; } /* mint_cream */
.a_color39 { background-color: #F5F5F0; } /* white_smoke */
.a_color40 { background-color: #F5F5D0; } /* beige */
.a_color41 { background-color: #F5DEB0; } /* wheat */
.a_color42 { background-color: #F4A460; } /* sandy_brown */
.a_color43 { background-color: #F0FFF0; } /* azure */
.a_color44 { background-color: #F0FFF0; } /* honeydew */
.a_color45 { background-color: #F0F8F0; } /* alice_blue */
.a_color46 { background-color: #F0E680; } /* khaki */
.a_color47 { background-color: #F08080; } /* light_coral */
.a_color48 { background-color: #EEE8A0; } /* pale_goldenrod */
.a_color49 { background-color: #EE82E0; } /* violet */
.a_color50 { background-color: #E99670; } /* dark_salmon */
.a_color51 { background-color: #E6E6F0; } /* lavender */
.a_color52 { background-color: #E0FFF0; } /* light_cyan */
.a_color53 { background-color: #DEB880; } /* burlyWood */
.a_color54 { background-color: #DDA0D0; } /* plum */
.a_color55 { background-color: #DCDCD0; } /* gainsboro */
.a_color56 { background-color: #DC1430; } /* crimson */
.a_color57 { background-color: #DB7090; } /* pale_violet_red */
.a_color58 { background-color: #DAA520; } /* goldenrod */
.a_color59 { background-color: #DA70D0; } /* orchid */
.a_color60 { background-color: #D8BFD0; } /* thistle */
.a_color61 { background-color: #D3D3D0; } /* light_grey */
.a_color62 { background-color: #D2B480; } /* tan */
.a_color63 { background-color: #D26910; } /* chocolate */
.a_color64 { background-color: #CD8530; } /* peru */
.a_color65 { background-color: #CD5C50; } /* indian_red */
.a_color66 { background-color: #C71580; } /* medium_violet_red */
.a_color67 { background-color: #C0C0C0; } /* silver */
.a_color68 { background-color: #BDB760; } /* dark_khaki */
.a_color69 { background-color: #BC8F80; } /* rosy_brown */
.a_color70 { background-color: #BA55D0; } /* medium_orchid */
.a_color71 { background-color: #B88600; } /* dark_goldenrod */
.a_color72 { background-color: #B22220; } /* fire_brick */
.a_color73 { background-color: #B0E0E0; } /* powder_blue */
.a_color74 { background-color: #B0C4D0; } /* light_steel_blue */
.a_color75 { background-color: #AFEEE0; } /* pale_turquoise */
.a_color76 { background-color: #ADFF20; } /* greenYellow */
.a_color77 { background-color: #ADD8E0; } /* light_blue */
.a_color78 { background-color: #A9A9A0; } /* dark_gray */
.a_color79 { background-color: #A52A20; } /* brown */
.a_color80 { background-color: #A05220; } /* sienna */
.a_color81 { background-color: #9ACD30; } /* yellow_green */
.a_color82 { background-color: #9932C0; } /* dark_orchid */
.a_color83 { background-color: #98FB90; } /* pale_green */
.a_color84 { background-color: #9400D0; } /* dark_violet */
.a_color85 { background-color: #9370D0; } /* mediumPurple */
.a_color86 { background-color: #90EE90; } /* light_green */
.a_color87 { background-color: #8FBC80; } /* dark_sea_green */
.a_color88 { background-color: #8B4510; } /* saddle_brown */
.a_color89 { background-color: #8B0080; } /* dark_magenta */
.a_color90 { background-color: #8B0000; } /* dark_red */
.a_color91 { background-color: #8A2BE0; } /* blue_violet */
.a_color92 { background-color: #87CEF0; } /* light_sky_blue */
.a_color93 { background-color: #87CEE0; } /* sky_blue */
.a_color94 { background-color: #808080; } /* gray */
.a_color95 { background-color: #808000; } /* olive */
.a_color96 { background-color: #800080; } /* purple */
.a_color97 { background-color: #800000; } /* maroon */
.a_color98 { background-color: #7FFFD0; } /* aquamarine */
.a_color99 { background-color: #7FFF00; } /* chartreuse */
.a_color100 { background-color: #7CFC00; } /* lawn_green */
.a_color101 { background-color: #7B68E0; } /* medium_slate_blue */
.a_color102 { background-color: #778890; } /* light_slate_gray */
.a_color103 { background-color: #708090; } /* slate_gray */
.a_color104 { background-color: #6B8E20; } /* olive_drab */
.a_color105 { background-color: #6A5AC0; } /* slate_blue */
.a_color106 { background-color: #696960; } /* dim_gray */
.a_color107 { background-color: #66CDA0; } /* medium_aquamarine */
.a_color108 { background-color: #6495E0; } /* cornflower_blue */
.a_color109 { background-color: #5F9EA0; } /* cadet_blue */
.a_color110 { background-color: #556B20; } /* dark_olive_green */
.a_color111 { background-color: #4B0080; } /* indigo */
.a_color112 { background-color: #48D1C0; } /* medium_turquoise */
.a_color113 { background-color: #483D80; } /* dark_slate_blue */
.a_color114 { background-color: #4682B0; } /* steel_blue */
.a_color115 { background-color: #4169E0; } /* royal_blue */
.a_color116 { background-color: #40E0D0; } /* turquoise */
.a_color117 { background-color: #3CB370; } /* medium_sea_green */
.a_color118 { background-color: #32CD30; } /* lime_green */
.a_color119 { background-color: #2F4F40; } /* dark_slate_gray */
.a_color120 { background-color: #2E8B50; } /* sea_green */
.a_color121 { background-color: #228B20; } /* forest_green */
.a_color122 { background-color: #20B2A0; } /* light_sea_green */
.a_color123 { background-color: #1E90F0; } /* dodger_blue */
.a_color124 { background-color: #191970; } /* midnight_blue */
.a_color125 { background-color: #00FFF0; } /* aqua */
.a_color126 { background-color: #00FFF0; } /* cyan */
.a_color127 { background-color: #00FF70; } /* spring_green */
.a_color128 { background-color: #00FF00; } /* lime */
.a_color129 { background-color: #00FA90; } /* medium_spring_green */
.a_color130 { background-color: #00CED0; } /* dark_turquoise */
.a_color131 { background-color: #00BFF0; } /* deep_sky_blue */
.a_color132 { background-color: #008B80; } /* dark_cyan */
.a_color133 { background-color: #008080; } /* teal */
.a_color134 { background-color: #008000; } /* green */
.a_color135 { background-color: #006400; } /* dark_green */
.a_color136 { background-color: #0000F0; } /* blue */
.a_color137 { background-color: #0000C0; } /* medium_blue */
.a_color138 { background-color: #000080; } /* dark_blue */
.a_color139 { background-color: #000080; } /* navy */
.a_color140 { background-color: #000000; } /* black */