.cls-test {
  width: 400px;
  height: 50px;
  border : 1px solid black;
}

.flex-container {
  display: flex;
  width: 300px;
}

.direction-column {
  flex-direction: column;
}

.name-div{
  width: 300px;
  height: 100px;
  border: 1px solid black;
}