/* 커스텀 버튼 */
.my-btn1 {
  display: inline-block;
  padding: 10px;
  border: 3px solid lightskyblue;
  border-radius: 10px;

  color: lightskyblue;
  font-weight: bold;
  font-family: "D2Coding";

  user-select: none;  /* 블럭 X */
  cursor: pointer;    /* 마우스 손가락 모양 */
}

.my-btn1:hover {
  color: white;
  background-color: lightskyblue;
}

.my-btn1:active {
  scale: 0.98;
  background-color: lightblue;
}

/* 표준 이벤트 모델 */
#test2 {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-color: black;
  color: white;

  font-size: 32px;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
  
  user-select: none;
  cursor: pointer;
  /* opacity : 투명도 (0 투명, 1 불투명) */
  opacity: 1;
}

/* 클릭한 버튼에 작성된 색으로 배경색 변경하기 */
.test3 {
  border: 2px solid black;
  display: flex;
  width: 350px;
}

#result3 {
  border-right: 2px solid black;
  flex-grow: 1;
}

.test3 > .btn-container3 {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
}