*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  width: 500px;
  margin: 50px auto;
}

.key-box{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border: 3px solid black;
}

.key{
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 5px;
  margin : 10px 0;

  font-size: 30px;
  font-weight: bold;
  
  display: flex;
  justify-content: center;
  align-items: center;

  user-select : none;

  background-size: cover;
}

body{
  position: relative;
}

#cursorImage{
  width: 100px;
  height: 100px;
  position: absolute;
  left:-50px;
}*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  width: 500px;
  margin: 50px auto;
}

.key-box{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border: 3px solid black;
}

.key{
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 5px;
  margin : 10px 0;

  font-size: 30px;
  font-weight: bold;
  
  display: flex;
  justify-content: center;
  align-items: center;

  user-select : none;

  /* 배경 이미지 크기 맞춤, 가운데 정렬 */
  background-size: cover;
  background-position: center;
}


#cursorImage{
  /* 이미지의 width/hegith 중 한 방향만 지정하면
    나머지 방향은 같은 비율로 조정됨  
  */
  width: 70px;

  /* 다른 요소와 겹칠 수 있게 설정 */
  position: absolute;

  /* 화면 밖으로 숨김 */
  left : -100px;
}