.container {
  width: 800px;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}


.block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: white;
  border: 2px solid gray;
  font-size: 80px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;

    /* 배경 이미지 크기 맞춤, 가운데 정렬 */
    background-size: cover;
    background-position: center;
}

#cursorImage{
  /* 이미지의 width / height 중 한 방향만 지정하면 나머지 부분은 같은 비율로 조정됨 */
  width: 30px;

  /* 다른 요소와 겹칠 수 있게 설정 */
  position: absolute;

  left : -100%;
}