*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main{
  width: 600px;
  margin: 50px auto;
  text-align: center;
}

.color-area{
  display: flex;
  justify-content: space-between;
}

.container{
  width: 18%;
  display: flex;
  flex-direction: column;
}

.box{
  width: 100%;
  height: 108px;
  border: 1px solid black;
  transition-duration: 0.5s;
}

.color-input{
  width: 100%;
  height: 20px;
}

#changeButton{
  width: 80%;
  margin-top: 10px;
  background-color: white;
  border : 2px solid pink;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

#changeButton:hover{
  color : white;
  background-color: pink;
}

#changeButton:active{
  border: 2px solid black;
}