/* 마지막에 삭제하던 해야하는 */
/* div {
  border: 1px solid gray;
  border-collapse: collapse;
}
 */


/* 입력값의 최 외곽 컨테이너 */
#container {
  width: 900px; 
  margin: 0 auto;
  height: 310px;
}

/* header 내부 */
.top {
  left: 0;
  width: 50%;
}

.radiocheck {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.row {
  height: 50px;
  display: flex;
  flex-direction: row;
}

.property {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.value {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.number {
  width: 100px;
}

/* main 내부 */
#submit {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
}

#finish {
  display: flex;
  overflow: auto;
}