
    .white                  { color: "#FFFFFF"; }
    .ivory                  { color: "#FFFFF0"; }
    .light_yellow           { color: "#FFFFE0"; }
    .yellow                 { color: "#FFFF00"; }
    .snow                   { color: "#FFFAFA"; }
    .floral_white           { color: "#FFFAF0"; }
    .lemon_chiffon          { color: "#FFFACD"; }
    .cornsilk               { color: "#FFF8DC"; }
    .seashell               { color: "#FFF5EE"; }
    .lavender_blush         { color: "#FFF0F5"; }
    .papaya_whip            { color: "#FFEFD5"; }
    .blanched_almond        { color: "#FFEBCD"; }
    .misty_rose             { color: "#FFE4E1"; }
    .bisque                 { color: "#FFE4C4"; }
    .moccasin               { color: "#FFE4B5"; }
    .navajo_white           { color: "#FFDEAD"; }
    .peach_puff             { color: "#FFDAB9"; }
    .cold                   { color: "#FFD700"; }
    .pink                   { color: "#FFC0CB"; }
    .light_pink             { color: "#FFB6C1"; }
    .orange                 { color: "#FFA500"; }
    .light_salmon           { color: "#FFA07A"; }
    .dark_orange            { color: "#FF8C00"; }
    .coral                  { color: "#FF7F50"; }
    .hot_pink               { color: "#FF69B4"; }
    .tomato                 { color: "#FF6347"; }
    .orange_red             { color: "#FF4500"; }
    .deep_pink              { color: "#FF1493"; }
    .fuchsia                { color: "#FF00FF"; }
    .magenta                { color: "#FF00FF"; }
    .red                    { color: "#FF0000"; }
    .old_lace               { color: "#FDF5E6"; }
    .light_goldenrod_yellow { color: "#FAFAD2"; }
    .linen                  { color: "#FAF0E6"; }
    .antique_white          { color: "#FAEBD7"; }
    .salmon                 { color: "#FA8072"; }
    .ghost_white            { color: "#F8F8FF"; }
    .mint_cream             { color: "#F5FFFA"; }
    .white_smoke            { color: "#F5F5F5"; }
    .beige                  { color: "#F5F5DC"; }
    .wheat                  { color: "#F5DEB3"; }
    .sandy_brown            { color: "#F4A460"; }
    .azure                  { color: "#F0FFFF"; }
    .honeydew               { color: "#F0FFF0"; }
    .alice_blue             { color: "#F0F8FF"; }
    .khaki                  { color: "#F0E68C"; }
    .light_coral            { color: "#F08080"; }
    .pale_goldenrod         { color: "#EEE8AA"; }
    .violet                 { color: "#EE82EE"; }
    .dark_salmon            { color: "#E9967A"; }
    .lavender               { color: "#E6E6FA"; }
    .light_cyan             { color: "#E0FFFF"; }
    .burlyWood              { color: "#DEB887"; }
    .plum                   { color: "#DDA0DD"; }
    .gainsboro              { color: "#DCDCDC"; }
    .crimson                { color: "#DC143C"; }
    .pale_violet_red        { color: "#DB7093"; }
    .goldenrod              { color: "#DAA520"; }
    .orchid                 { color: "#DA70D6"; }
    .thistle                { color: "#D8BFD8"; }
    .light_grey             { color: "#D3D3D3"; }
    .tan                    { color: "#D2B48C"; }
    .chocolate              { color: "#D2691E"; }
    .peru                   { color: "#CD853F"; }
    .indian_red             { color: "#CD5C5C"; }
    .medium_violet_red      { color: "#C71585"; }
    .silver                 { color: "#C0C0C0"; }
    .dark_khaki             { color: "#BDB76B"; }
    .rosy_brown             { color: "#BC8F8F"; }
    .medium_orchid          { color: "#BA55D3"; }
    .dark_goldenrod         { color: "#B8860B"; }
    .fire_brick             { color: "#B22222"; }
    .powder_blue            { color: "#B0E0E6"; }
    .light_steel_blue       { color: "#B0C4DE"; }
    .pale_turquoise         { color: "#AFEEEE"; }
    .greenYellow            { color: "#ADFF2F"; }
    .light_blue             { color: "#ADD8E6"; }
    .dark_gray              { color: "#A9A9A9"; }
    .brown                  { color: "#A52A2A"; }
    .sienna                 { color: "#A0522D"; }
    .yellow_green           { color: "#9ACD32"; }
    .dark_orchid            { color: "#9932CC"; }
    .pale_green             { color: "#98FB98"; }
    .dark_violet            { color: "#9400D3"; }
    .mediumPurple           { color: "#9370DB"; }
    ._light_green           { color: "#90EE90"; }
    .dark_sea_green         { color: "#8FBC8F"; }
    .saddle_brown           { color: "#8B4513"; }
    .dark_magenta           { color: "#8B008B"; }
    .dark_red               { color: "#8B0000"; }
    .blue_violet            { color: "#8A2BE2"; }
    .light_sky_blue         { color: "#87CEFA"; }
    .sky_blue               { color: "#87CEEB"; }
    .gray                   { color: "#808080"; }
    .olive                  { color: "#808000"; }
    .purple                 { color: "#800080"; }
    .maroon                 { color: "#800000"; }
    .aquamarine             { color: "#7FFFD4"; }
    .chartreuse             { color: "#7FFF00"; }
    .lawn_green             { color: "#7CFC00"; }
    .medium_slate_blue      { color: "#7B68EE"; }
    .light_slate_gray       { color: "#778899"; }
    .slate_gray             { color: "#708090"; }
    .olive_drab             { color: "#6B8E23"; }
    .slate_blue             { color: "#6A5ACD"; }
    .dim_gray               { color: "#696969"; }
    .medium_aquamarine      { color: "#66CDAA"; }
    .cornflower_blue        { color: "#6495ED"; }
    .cadet_blue             { color: "#5F9EA0"; }
    .dark_olive_green       { color: "#556B2F"; }
    .indigo                 { color: "#4B0082"; }
    .medium_turquoise       { color: "#48D1CC"; }
    .dark_slate_blue        { color: "#483D8B"; }
    .steel_blue             { color: "#4682B4"; }
    .royal_blue             { color: "#4169E1"; }
    .turquoise              { color: "#40E0D0"; }
    .medium_sea_green       { color: "#3CB371"; }
    .lime_green             { color: "#32CD32"; }
    .dark_slate_gray        { color: "#2F4F4F"; }
    .sea_green              { color: "#2E8B57"; }
    .forest_green           { color: "#228B22"; }
    .light_sea_green        { color: "#20B2AA"; }
    .dodger_blue            { color: "#1E90FF"; }
    .midnight_blue          { color: "#191970"; }
    .aqua                   { color: "#00FFFF"; }
    .cyan                   { color: "#00FFFF"; }
    .spring_green           { color: "#00FF7F"; }
    .lime                   { color: "#00FF00"; }
    .medium_spring_green    { color: "#00FA9A"; }
    .dark_turquoise         { color: "#00CED1"; }
    .deep_sky_blue          { color: "#00BFFF"; }
    .dark_cyan              { color: "#008B8B"; }
    .teal                   { color: "#008080"; }
    .green                  { color: "#008000"; }
    .dark_green             { color: "#006400"; }
    .blue                   { color: "#0000FF"; }
    .medium_blue            { color: "#0000CD"; }
    .dark_blue              { color: "#00008B"; }
    .navy                   { color: "#000080"; }
    .black                  { color: "#000000"; } 